.h5p-topic-map-fullscreen-button {
  aspect-ratio: 1;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: max(24px, calc(1.25rem + 0.5rem));
  position: relative;

  &::before {
    color: hsl(0, 0%, 0%);
    font-family: "h5p-theme", sans-serif;
    font-size: 1.25rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.h5p-container.h5p-fullscreen {
  .h5p-topic-map-fullscreen-button::before {
    content: var(--icon-h5ptheme-exit-fullscreen);
  }
}

.h5p-container:not(.h5p-fullscreen) {
  .h5p-topic-map-fullscreen-button::before {
    content: var(--icon-h5ptheme-enter-fullscreen);
  }
}
