.h5p-topic-map-modal-wrapper-small-screen {
  display: flex;
  flex-direction: column;
}

.h5p-topic-map-dialog-content {
  width: 40vw;
}

.h5p-topic-map-dialog-content-wide {
  width: 70vw;
}

.h5p-topic-map-dialog-content-small-screen {
  width: 90vw;
}

.h5p-topic-map-dialog-tab-wrapper {
  width: 47%;
  display: inline-block;
  height: 90%;
}

.h5p-topic-map-dialog-note-wrapper {
  float: right;
  width: 47%;
  height: 90%;

  &.h5p-topic-map-dialog-note-wrapper-full-width {
    float: left;
    width: 100%;
  }
}

.h5p-topic-map-dialog-content:focus,
.h5p-topic-map-dialog-content-wide:focus {
  outline: none;
}

.h5p-topic-map-modal-title {
  margin: 0;
  font-weight: bold;
  color: black;
  font-size: 1.25rem;
  line-height: 1.2;
}

@keyframes show-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-dialog {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
