.h5p-topic-map-dialog-resource-list-item {
  a {
    color: rgba(31, 103, 199, 1);
    margin-right: 0.5rem;
  }
}

.h5p-topic-map-dialog-resource-list {
  list-style: disc outside;
  padding: 0 0 0.25em 2.5em;
}

.h5p-topic-map-dialog-resource-remove-button {
  aspect-ratio: 1;
  background: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  height: 1rem;
  position: relative;

  &::before {
    content: var(--icon-h5ptheme-x-close);
    font-family: "h5p-theme", sans-serif;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: #eee;
  }
}

.h5p-topic-map-dialog-resource-input-container {
  display: flex;
  margin-bottom: 1rem;
  max-width: 19.5rem;
}

.h5p-topic-map-dialog-resource-url-input {
  border: 2px solid #eee;
  border-radius: 0.25rem 0 0 0.25rem;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.5rem;

  &:focus {
    border-color: #2360c5;
  }
}

.h5p-topic-map-dialog-resource-add-button {
  background-color: #eee;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  padding: 0 1rem;

  &:hover {
    background-color: #ddd;
  }
}
