.h5p-topic-map-dialog-resource-category {
  margin: 0;
}

.h5p-topic-map-dialog-resource-list {
  margin: 0;

  .h5p-topic-map-dialog-resource-list-item {
    a {
      color: var(--theme-color-2);
      margin-right: var(--h5p-theme-spacing-xxs);
    }
  }

  .h5p-topic-map-dialog-resource-remove-button {
    aspect-ratio: 1;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: var(--h5p-theme-font-size-m);
    position: relative;

    &::before {
      content: var(--icon-h5ptheme-x-close);
      font-family: "h5p-theme", sans-serif;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: var(--theme-color-alternative-base);
    }
  }
}

.h5p-topic-map-dialog-resource-input-container {
  display: flex;
}

.h5p-topic-map-dialog-resource-url-input {
  border: 2px solid var(--h5p-theme-alternative-darker);
  border-radius: var(--h5p-theme-border-radius-small) 0 0 var(--h5p-theme-border-radius-small);
  box-sizing: border-box;
  flex-grow: 1;
  padding: var(--h5p-theme-spacing-xxs);

  &:focus {
    border-color: var(--theme-color-2);
  }
}

.h5p-topic-map-dialog-resource-add-button {
  background-color: var(--h5p-theme-alternative-darker);
  border: none;
  border-radius: 0 var(--h5p-theme-border-radius-small) var(--h5p-theme-border-radius-small) 0;
  color: var(--h5p-theme-text-primary);
  cursor: pointer;
  padding: 0 var(--h5p-theme-spacing-m);

  &:hover {
    background-color: var(--theme-color-2);
    color: var(--theme-color-base);
  }
}
