.h5p-topic-map-dialog-text {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.h5p-topic-map-dialog-copyright {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.h5p-topic-map-dialog-text-body {
  margin-bottom: 1em;
}

.h5p-topic-map-dialog-text .h5p-topic-map-dialog-text-description {
  font-weight: 700;
  margin: 0;
  padding-bottom: 1rem;
}

.h5p-topic-map-dialog-text-image {
  height: auto;
  width: 100%;
}
