:root {
  --dialog-z-index: calc(var(--overlay-z-index) + 1);
  --item-z-index: 1;
  --notesection-z-index: calc(var(--item-z-index) + 1);
  --overlay-z-index: calc(var(--item-z-index) + 1);
}

.h5p-topic-map {
  --icon-fontawesome-check: "\f00c";
  --icon-fontawesome-edit: "\f040";
  --icon-fontawesome-left-aligned: "\f036";
  --icon-h5ptheme-enter-fullscreen: "\e915";
  --icon-h5ptheme-exit-fullscreen: "\e914";
  --icon-h5ptheme-x-close: "\e910";
  --icon-h5ptheme-paper: "\e904";
  --icon-h5ptheme-copy: "\e912";

  --theme-blue-1: #2f4050;
  --theme-blue-2: #40586f;
  --theme-blue-3: #567B95;
  --theme-blue-4: #BECCE0;
  --theme-blue-5: #DAE2EC;

  --theme-green-1: #2f5050;
  --theme-green-2: #3d6060;
  --theme-green-3: #4E7E7E;
  --theme-green-4: #AFD9D9;
  --theme-green-5: #CBE7E7;

  --theme-red-1: #7a1719;
  --theme-red-2: #981b1e;
  --theme-red-3: #D7282A;
  --theme-red-4: #F9A9AC;
  --theme-red-5: #FBDADA;

  --theme-gray-1: #131516;
  --theme-gray-2: #373d3f;
  --theme-gray-3: #6B777B;
  --theme-gray-4: #C0C4C8;
  --theme-gray-5: #DFE2E2;

  background-color: var(--theme-color-1);
  container-name: h5p-topic-map;
  container-type: inline-size;
  font-family: sans-serif;
  font-size: var(--h5p-theme-font-size-m);

  &.h5p-theme {
    --theme-color-base: var(--h5p-theme-ui-base);
    --theme-color-alternative-base: var(--h5p-theme-alternative-base);
  }
  &:not(.h5p-theme) {
    --theme-color-base: hsl(0, 0%, 100%);
    --theme-color-alternative-base: hsl(0, 0%, 93%);
  }

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button,
  input,
  option,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
  }
}

.h5p-topic-map-theme-0 {
  --theme-color-1: var(--h5p-theme-main-cta-dark);
  --theme-color-2: var(--h5p-theme-main-cta-base);
  --theme-color-3: color-mix(in srgb, var(--h5p-theme-main-cta-base), #fff 10%);
  --theme-color-4: var(--h5p-theme-contrast-cta);
  --theme-color-5: color-mix(in srgb, var(--h5p-theme-contrast-cta), #000 10%);
}

/* Keeping these as a fallback for now and overriding H5P.ConfirmationDialog colors */
.h5p-topic-map-theme-1 {
  --theme-color-1: var(--theme-blue-1);
  --theme-color-2: var(--theme-blue-2);
  --theme-color-3: var(--theme-blue-3);
  --theme-color-4: var(--theme-blue-4);
  --theme-color-5: var(--theme-blue-5);

  .h5p-confirmation-dialog-background,
  .h5p-theme-button {
    --h5p-theme-main-cta-dark: var(--theme-blue-1);
    --h5p-theme-main-cta-base: var(--theme-blue-2);
    --h5p-theme-contrast-cta-white: var(--theme-blue-3);
    --h5p-theme-main-cta-light: var(--theme-blue-3);
  }
}

.h5p-topic-map-theme-2 {
  --theme-color-1: var(--theme-green-1);
  --theme-color-2: var(--theme-green-2);
  --theme-color-3: var(--theme-green-3);
  --theme-color-4: var(--theme-green-4);
  --theme-color-5: var(--theme-green-5);

  .h5p-confirmation-dialog-background,
  .h5p-theme-button {
    --h5p-theme-main-cta-dark: var(--theme-green-1);
    --h5p-theme-main-cta-base: var(--theme-green-2);
    --h5p-theme-contrast-cta-white: var(--theme-green-3);
    --h5p-theme-main-cta-light: var(--theme-green-3);
  }
}

.h5p-topic-map-theme-3 {
  --theme-color-1: var(--theme-red-1);
  --theme-color-2: var(--theme-red-2);
  --theme-color-3: var(--theme-red-3);
  --theme-color-4: var(--theme-red-4);
  --theme-color-5: var(--theme-red-5);

  .h5p-confirmation-dialog-background,
  .h5p-theme-button {    --h5p-theme-main-cta-dark: var(--theme-red-1);
    --h5p-theme-main-cta-base: var(--theme-red-2);
    --h5p-theme-contrast-cta-white: var(--theme-red-3);
    --h5p-theme-main-cta-light: var(--theme-red-3);
  }
}

.h5p-topic-map-theme-4 {
  --theme-color-1: var(--theme-gray-1);
  --theme-color-2: var(--theme-gray-2);
  --theme-color-3: var(--theme-gray-3);
  --theme-color-4: var(--theme-gray-4);
  --theme-color-5: var(--theme-gray-5);

  .h5p-confirmation-dialog-background,
  .h5p-theme-button {
    --h5p-theme-main-cta-dark: var(--theme-gray-1);
    --h5p-theme-main-cta-base: var(--theme-gray-2);
    --h5p-theme-contrast-cta-white: var(--theme-gray-3);
    --h5p-theme-main-cta-light: var(--theme-gray-3);
  }
}

.h5p-topic-map-modal-overlay {
  background-color: hsl(from var(--h5p-theme-main-cta-base) h calc(s * .3) 18% / 40%);
  inset: 0;
  position: absolute;
  z-index: var(--overlay-z-index);
}

.h5p-topic-map-dialog-content,
.h5p-topic-map-notes-section-dialog {
  background-color: var(--h5p-theme-ui-base);
  border-radius: var(--h5p-theme-border-radius-large);
  color: var(--h5p-theme-text-primary);
  height: 80%;
  left: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: var(--dialog-z-index);
}

.h5p-topic-map-dialog-copyright {
  margin-block-start: var(--h5p-theme-spacing-xxs);
  margin-block-end: var(--h5p-theme-spacing-s);
}

.h5p-topic-map-modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--h5p-theme-spacing-xxs);
  height: 100%;
  overflow-y: auto;
  padding: var(--h5p-theme-spacing-m);
  width: 100%;
}

.h5p-topic-map-modal-close-button {
  aspect-ratio: 1;
  background-color: var(--h5p-theme-ui-base);
  border: var(--h5p-theme-font-size-s) solid var(--h5p-theme-ui-base);
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--h5p-theme-text-primary);
  cursor: pointer;
  padding: 0;
  position: fixed;
  right: calc(-0.75 * var(--h5p-theme-font-size-l));
  top: calc(-0.75 * var(--h5p-theme-font-size-l));
  width: calc(2 * var(--h5p-theme-font-size-l));

  &::before {
    content: var(--icon-h5ptheme-x-close);
    font-family: "h5p-theme", sans-serif;
    font-size: var(--h5p-theme-font-size-l);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: var(--h5p-theme-alternative-base);
  }

  &:focus-visible {
    outline: 2px ridge var(--theme-color-1);
  }
}

.h5p-topic-map-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
